#main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forms{
    display: flex;
}

.game-container{
    width: 500px;
    padding: 50px 0;
}
.game{
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.game > * {
    background-color: rgba(111,41,97,.4);
    border: 2px solid black;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
#start-button{
    
    padding: 10px 40px;
}